[submodule "src/utilities"]
	path = src/utilities
	url = https://github.com/KerryL/utilities.git
[submodule "src/email"]
	path = src/email
	url = https://github.com/KerryL/email.git
[submodule "src/logging"]
	path = src/logging
	url = https://github.com/KerryL/logging.git
